*.vcf
.Rproj.user
.Rhistory
*.pptx
*.pptx.key
.Rhistory
microeco_output/network.gexf
data/clean_reads/*
data/raw_reads/*
data/Layers_WA/*
data/old_data/*
data/ref/*
data/renamed_reads/*
data/westcoast/*
data/all_merged/*
data/microbiome_resampling_2.numbers
data/microbiome_resampling.xls
data/microbiome_resampling.xls
plots/*
output/micro_fastq/
*/*/*/*bowtie2.bz2
*/*/*bowtie2.bz2
*/*bowtie2.bz2
*bowtie2.bz2
CCal_microbiome.Rproj
savio_scripts/_*.sh
*.DS_Store
database/